---

---

<footer>
  <article class="article1">
    <h4>Projekt udviklet af</h4>
    <p>Monica Hieronymus Hansen & Sascha Meyer Nielsen</p>
    <p class"done_for">2. semester multimediedesginer-studerende på KEA</p>
  </article>

  <article class="form">
    <form action="#">
      <label>
        <h3>Tilmeld dig nyhedsbrevet</h3>
        <div class="form">
          <input id="form_email" type="text" placeholder=" " name="name" required class="name_form" />
          <label class="label_name" for="form_email"> Navn</label>
        </div>
        <div class="form">
          <input id="form_email" type="email" placeholder=" " name="email" required class="email_form" />
          <label class="label_email" for="form_email"> E-mail</label>
        </div>
        <div class="form_conditions">
          <input id="form_email" type="checkbox" name="conditions" value="accept" required class="accept" />
          <label class="label_conditions"> Jeg accepterer betingelserne</label>
        </div>
      </label>
      <button class="submit">Tilmeld</button>
    </form>
  </article>
</footer>

<style>
  @media (min-width: 600px) {
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  }

  @media (max-width: 599px) {
    footer {
      align-items: center;
      padding: 1rem 1rem;
    }
  }

  /* newsletter */
  .form {
    position: relative;
    padding: 1rem;
    width: auto;
    height: 0.5rem;
    margin-bottom: 1rem;
  }

  .name_form,
  .email_form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 2px solid #766a6a;
    border-radius: 2rem;
    color: #454444;
    outline: none;
    /*padding: 1.25rem;*/
    background: none;
  }

  .name_form:hover,
  .email_form:hover {
    border-color: #0094d6;
  }

  .label_name,
  .label_email {
    position: absolute;
    left: 1rem;
    top: 0rem;
    padding: 0 0.5rem;
    color: #454444;
    cursor: text;
    transition:
      top 0.2s ease-in,
      left 0.2s ease-in,
      font-size 0.2s ease-in;
  }

  .label_conditions {
    color: rgb(0, 0, 0);
  }

  .name_form:focus ~ .label_name,
  .name_form:not(:placeholder-shown).name_form:not(:focus) ~ .name_label,
  .email_form:focus ~ .label_email,
  .email_form:not(:placeholder-shown).email_form:not(:focus) ~ .email_label {
    /*top: -0.5rem;*/
    font-size: 0.8rem;
    top: -0.5rem;
  }

  .submit {
    border-radius: 4rem;
    background-color: #454444;
    padding: 1rem 1rem;
    width: auto;
    border: none;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3.5rem;
  }
</style>
