---
import "../css/style.css";
import Navigation from "./Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CA Kampagnesite</title>
  </head>
</html>
<header>
  <Navigation />
</header>

<style></style>
